# name = "stoptest"

alb_subnets = ["subnet-08515090d18fe4e56", "subnet-0afa8a1877a19c619"]

ec2_subnet = "subnet-022b0cf63cfa2b43e"

vpc = "vpc-02767cb7b8b634d54"

ami = "ami-075686beab831bb7f"

# ECS-optimized Amazon Linux 2 AMI (find latest at https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html)
ecs_ami = "ami-0e5f882be1900e43b"

# instance_type = "t3.micro"

harness_cloud_connector_id = "harness_impeng_play_ccm"
